:root {
  --bg-clr: #1B2430;
  --font-clr: #ffffffef;

  --small-font-size: calc(0.15 + 1vw);
  --regular-font-size: calc(0.25em + 1vw);
  --largest-font-size: calc(2em + 1vw);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html,
body {
  background-color: var(--bg-clr);
  color: var(--font-clr);
  font-family: 'Saira Condensed', Arial ,sans-serif;
  font-size: var(--regular-font-size);
}


h1 {
  text-align: center;
  font-size: var(--largest-font-size);
  padding: 0 1em 1em 1em;
  grid-column: span 2;
}

main {
  width: 100%;
  max-width: 1024px;
  background: rgb(104, 57, 65);
  margin: auto;
  padding: 2em;
}

form {
  display: grid;
  gap: 2em;
  grid-template-rows: 2fr;
  grid-template-columns: repeat(2, 1fr);
}


.input-container {
  /* margin: auto; */
  border: 0;
  padding: 0 0.5em;
}

fieldset.input-group-container {
  padding: 1em;
  display: grid;
  grid-auto-flow: column;
  border-color: rgba(255, 255, 255, 0);

  /* border: 0; */

}

fieldset.input-group-container:hover {
  /* background-color: violet; */
  /* border-width: 2px; */
  /* border: revert; */
  border-color: revert;

}

legend {
  padding: 0.25em;
}

input {
  /* height: 100%; */
  width: 100%;
  font-size: var(--small-font-size);
  font-family: 'Saira Condensed', Arial ,sans-serif;
  padding:  0.5em;
  border-radius: 5px;

}

/* input[type="text"] {
} */

input[type="submit"] {
  grid-column: span 2;
  padding: 0.25em 1em;
  margin: 0.25em auto;
  width: fit-content;
}






@media (min-width: 1024px) {

  main {
    border-radius: 20px;
    margin: 3em auto;
  }

}

