:root {
  --bg-clr: #1B2430;
  --font-clr: #ffffffef;
  --largest-font-size: calc(2em + 1vw);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html,
body {
  background-color: var(--bg-clr);
  color: var(--font-clr);
  font-family: 'Saira Condensed', Arial ,sans-serif;
}

main {
  width: 100%;
  max-width: 1024px;
  background: pink;
  margin: auto;
  padding: 2em;
  display: grid;
  gap: 0.5em;
  grid-template-rows: 2fr;
  grid-template-columns: repeat(2, 1fr);
}

h1 {
  text-align: center;
  font-size: var(--largest-font-size);
  padding: 1em;
  grid-column: span 2;
}

.input-container {
  /* grid-column: 1 / 2; */
  margin: auto;
}







@media (min-width: 1024px) {
  main {
    border-radius: 20px;
    margin: 3em auto;
  }
}