:root {
  --bg-clr: #1B2430;
  --font-clr: #ffffffef;

  --small-font-size: 0.75em;
  --regular-font-size: 1em;
  --largest-font-size: 2em;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html,
body {
  background-color: var(--bg-clr);
  color: var(--font-clr);
  font-family: 'Ubuntu', Arial ,sans-serif;
  font-size: var(--regular-font-size);
}


h1 {
  text-align: center;
  font-size: var(--largest-font-size);
  padding: 0 1em 1em 1em;
  grid-column: span 2;
  color: #D6D5A8;
}

main {
  max-width: 1024px;
  background: #51557E;
  margin: auto;
  padding: 2em;
}

form {
  gap: 2em;
}



.input-group-container {
  padding: 1em;
  display: grid;
  grid-auto-flow: column;
  border-color: rgba(255, 255, 255, 0);
  width: 100%;
  border-radius: 15px;
}


.input-group-container.wide-fieldset {
  grid-column: span 2;
  grid-auto-flow: row;
}

.input-group-container:hover,
.input-group-container.selected {
  background-color: #696ea4;
  border-color: revert;
  /* border-color: red; */

  
}


.input-container {
  border: 0;
  padding: 0.25em 0.5em;
}

.input-group-container.radio-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.input-group-container.radio-container.column-flow {
  flex-direction: column;
}

.input-group-container.radio-container.column-flow > .radio-box {
  justify-content: start;
}

legend {
  padding: 0.25em;
  color: #D6D5A8;
  
}

input, textarea {
  width: 100%;
  font-size: var(--regular-font-size);
  font-family: 'Ubuntu', Arial ,sans-serif;
  padding:  0.5em;
  border-radius: 5px;
  border: none;
}

input:focus-visible, textarea:focus-visible {
  outline: none;
}

input.error, textarea.error, .file-drop-box.error {
  box-shadow: 0px 5px #ff5465;
}

label.error {
  color: #ff5465;
}


div.wide-input {
  display: grid;
  grid-auto-flow: column;
}

label {
  font-size: var(--small-font-size);
  margin-left: 1em;
  display: block;
  padding-top: 0.5em;
}


.radio-box {
  font-size: (var(--regular-font-size));
  display: flex;
  justify-content: start;
  padding: 1em;
  border-radius: 10px;
  cursor: pointer;

}

.radio-box:hover {
  background-color: #8187ca;
}

.radio-label {
  margin: 0 0.5em;
  width: fit-content;
}


input[type="radio"] {
  width: 20px;
  accent-color: #D6D5A8;
}

.hide {
  display: none;;
}

.break {
  flex-basis: 100%;
}


.file-drop-box {
  width: 100%;
  height: 10em;
  background-color: #ffffff;
  margin: auto;
  border-radius: 5px;
  display: grid;
  align-items: center;
  border: 2px dashed;
  border-color: rgb(0, 0, 0);
  cursor: pointer;
}

.file-drop-box.has-file,
.file-drop-box:hover {
  border-style: solid;
}

input[type="file"] {
  opacity: 0;
  display: block;
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 1;
  cursor: pointer;


}

.file-box-label {
  color: #757575;
  font-size: var(--regular-font-size);
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  margin: 0;
}

.file-box-label > span {
  font-size: var(--small-font-size);
}



textarea {
  height: 15em;
}

textarea.larger-text-area {
  height: 30em;
}


.control-btns-container {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  padding: 0.25em 1em;
  column-gap: 0.5em;
}


.control-btns-container > button {
  padding: 1em;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  color: var(--font-clr);
  background-color: #51557E;
  display: flex;
  justify-content: center;
  align-items: center;

}
.control-btns-container > button > i {
  padding-right: 5px;
}

.control-btns-container > button:hover {
  background-color: #8187ca;
}

.control-btns-container > button:nth-child(2) {
  background-color: #D6D5A8;
  color: black;
}
.control-btns-container > button:nth-child(2):hover {
  transform: scale(1.3);
  transition: transform 250ms ease-in-out;
}
.control-btns-container > button:nth-child(2):not(:hover) {
  transform: scale(1.15);
  transition: transform 250ms ease-in-out;
}




@media (min-width: 426px) {
  form {
    display: grid;
    grid-template-rows: 2fr;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  main {
    border-radius: 20px;
    margin: 3em auto;
  }
  
  fieldset.input-group-container.radio-container {
    flex-direction: row;
  }
  
  .radio-box {
    justify-content: center;
  }
}

